<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
  <!--NOTE: THIS BELOW FOR MODAL RESPONSIVENESS-->
  
  <title>CAUSES</title>
</head>
<body>
  <div class="container">
    <div class="content-box">
      <h1 class="heading">HI {{firstName.upper()}}, PLEASE PICK A CAUSE!</h1>
      <p style="color:black;">Prompts researched and written by <a href="https://www.linkedin.com/in/lukecorless/">Luke Corless</a></p>
      <!--FOR PROMPTS GO TO prompts.py-->

      <form method="POST">
        <div class="causes-list">
          {% for cause, prompt in allPrompts.items() %}
          <label class="cause-item" onclick="openModal('{{ cause }}', 'Your representatives: {% for name in nameList %} {{name}}, {% endfor %}<br>Email Addresses: {% for email in emailList %} {{email}} {% endfor %}<br><br>{{ prompt }}')">
              <input type="radio" name="cause" value="{{ cause }}" required> {{ cause.replace('-', ' ').title() }} 
          </label>
          {% endfor %}
      </div>
      
      <button class="submit-button">Submit</button>
      <!--<a href="mailto:someone@yoursite.com?subject=Mail from Our Site">Email Us</a>  -->
    </form>
    </div>

    </div>
  </div>

  <!-- Modal -->
  <div class="modal" id="myModal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <div id="modalContent"></div>
    </div>
  </div>


  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>
