<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles3.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <title>Email</title>
    <style>
        
    </style>
</head>
<body>
    <div class="container">
      <div class="content-box">

            <h1 class="heading">Hello {{firstName}}, please read over the email!</h1>

                <!-- Recipients -->
                <div>
                    <h3 style="color: #000; margin-bottom: 5px;">Recipients:</h3>
                    <p class="emailAddresses">
                        {{ ', '.join(emailList) }}
                    </p>
                    
                </div>
        
                <!-- Subject -->
                <div>
                    <h3 style="color: #000; margin-bottom: 5px;">Subject:</h3>
                    <p class="subject">
                        {{subject}}
                    </p>
                </div>
        
                <!-- Message -->
                <div>
                    <h3 style="color: #000; margin-bottom: 5px;">Message:</h3>
                    <div class="message-container">
                        <p class="message-text">
                            {{ prompt|safe }}
                        </p>
                    </div>
                </div>
                <!--SEND THE MAIL-->
                <!--ISSUE ARRISED HERE, MAILTO -> LIMIT + HTML/CSS TAGS NOT SUPPORTED-->
                <a href="mailto:{{ ', '.join(emailList) }}?subject={{subject}}&subject={{subject}}&body={{prompt}}" class="send-email-button" action="/">Send Email</a>
                <br>
                <form method="POST" action="{{ url_for('exit') }}">
                    <button class="exitButton" href="/exit">Exit</button>
                </form>
                <p style="color: black; font-size: small;">Note: If your email provider isn't working than please copy and paste the information.</p>
        </div>
      </div>
    </div>
  
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
  </body>
  
  </html>