<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <title>Error</title>
</head>
<body>

  <div class="background">
    <div class="box" id="box1"></div>
    <div class="box" id="box2"></div>
    <div class="box" id="box3"></div>
    <div class="box" id="box4"></div>
  </div>
 <!-- Display flashed messages -->

  <div class="form-container">
    <form class="animated-form" method="POST">
      <h1 class="header" id="civicConnect">ERROR: <a href="/" style="color: darkred;">HOME PAGE</a> NOT FILLED OUT</h1>
      
  </div>

</body>
</html>
