<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles3.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <title>Queries</title>
</head>
<body>
    <div class="container">
      <div class="content-box">
        <h1 class="heading">Hello {{firstName}}!</h1>
        <h3 style="color: darkred;">Note: Verification email may be in spam</h3>
        <form method="POST" style="display: flex; flex-direction: column;">
        <div>
            <select required name="emailReason">
              <option value="" disabled selected>Select Option</option>
              <option value="Modify Prompt">Modify one of the prompts</option>
              <option value="Create a new prompt!">Create a new prompt</option>
            </select>
            
          </div>

          <br>
          <input type="email" id="email" name="email" placeholder="Enter your email address" required class="emailForm">
          <br>
            <div>
            <textarea id="editor" rows="15" placeholder="Please enter your modifications/critiques!"  name='critique' required ></textarea>
            </div>
            <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
            <script>
              CKEDITOR.replace( 'editor', {
                toolbar: [
                  { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript' ] },
                  { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
                  { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
                  { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
                ]
              } );
            </script>

            <button class="submit-button" style="align-self: center;">Submit</button>
          </form>
      </div>
      </div>

  
    <!-- Modal -->
    <div class="modal" id="myModal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="modalContent"></div>
      </div>
    </div>
  
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
  </body>
  </html>